@prefix schema: <http://schema.org/> .

<{{ exports.organization_root_iri }}>
  a schema:Organization ;
  schema:name "Acme Insurance" ;
  schema:url "https://www.acme.example/" ;
  schema:sameAs "https://www.wikidata.org/wiki/Q24229398" ;
  schema:address <{{ exports.organization_postal_address_iri }}> .
