@prefix schema: <http://schema.org/> .

<{{ exports.website_root_iri }}>
  a schema:WebSite ;
  schema:name "Acme" ;
  schema:url "https://www.acme.example/" ;
  schema:sameAs "https://www.wikidata.org/wiki/Q189249" ;
  schema:publisher <{{ exports.organization_root_iri }}> .
