@prefix schema: <http://schema.org/> .

<{{ exports.website_iri }}>
  a schema:WebSite ;
  schema:name "Acme" ;
  schema:url "https://www.acme.example" ;
  schema:publisher <{{ exports.organization_iri }}> .
