@prefix schema: <http://schema.org/> .

<{{ exports.organization_postal_address_iri }}>
  a schema:PostalAddress ;
  schema:streetAddress "1 Main Street" ;
  schema:addressLocality "Milan" ;
  schema:postalCode "20100" ;
  schema:addressCountry "IT" .
